*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', 'Arial', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

fieldset {
  border: 0;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  align-items: end;
  width: 1140px;
  column-gap: 30px;
  margin: 133px 30px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  column-gap: 40px;
}

.search-form__label {
  display: flex;
  width: fit-content;
  gap: 5px;
  line-height: 1;
}

.search-form__label-text:hover {
  text-decoration: underline;
  cursor: pointer;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__label:has(:focus-visible) {
  box-sizing: content-box;
  /* border-right: 1px #fff solid;
  border-left: 1px #fff solid; */
  outline: 1px #fff solid;
  outline-offset: 2px;
}

input {
  appearance: none;
  background-color: transparent;
  width: 225px;
  height: 27px;
  font-family: inherit;
  font-size: inherit;
  border-top: 1px #fff solid;
  border-bottom: 1px #fff solid;
  border-right: 1px transparent;
  border-left: 1px transparent;
  color: #fff;
}

input:focus {
  outline: none;
}

.search-form__fieldset-title {
  font-size: 18px;
  margin-bottom: 5px;
  font-weight: 400;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  border: 1px #fff solid;
  cursor: pointer;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after{
  content: " ";
  display: block;
  width: 15px;
  height: 15px;
  background-color: #fff;
  /* border: 2px solid #1b1919; */
}

button {
  background-color: transparent;
  color: #fff;
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  border: 1px #fff solid;
  cursor: pointer;
  /* margin: 3px; */
  min-height: 34px;
}

button:focus{
  outline: none;
}

button:focus-visible {
  outline: 1px #fff solid;
  outline-offset: -3px;
}

button:hover{
  text-decoration: underline;
}

button:active {
  background-color: #545050;
}

.search-form__submit-button {
  margin-top: 20px;
  padding: 6px 73.5px;
}

.more-button {
  width: 100%;
}

.content__list {
  position: relative;
  height: 298px;
  overflow-y: scroll;
}

.content__list-item {
  margin-bottom: 30px;
}

.content__list-item:last-child {
  margin-bottom: 0;
}

.content__card-link {
  display: block;
  color: #fff;
  text-decoration: none;
  margin: 2px;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px #fff solid;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:active {
  background-color: #545050;
}

.content__details {
  height: 100%;
  width: 100%;
  row-gap: 20px;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card-thumbnail {
  object-fit: cover;
  width: 194px;
  height: 103px;
}

.content__video-card-title {
  font-family: 'Oswald', 'Arial', sans-serif;
  font-weight: bold;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 16.2px;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}

.title {
  font-family: 'Oswald', 'Arial', sans-serif;
  margin-bottom: 26px;
  font-size: 75px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 94%;
}

.content__accent {
  color: #545050;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.error__title {
  font-family: 'Oswald', 'Arial', sans-serif;
  font-size: 30px;
  line-height: 110%;
  letter-spacing: 0%;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background-color: #4C14C300;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  background-color: #3b3a3a;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #3b3a3a;
  border-radius: 100px;
}